<h1 align="center" style="color: Black" >Приветствуем вас</h1>
<p>Чтобы можно было спокойно давать деньги в долг, нужна расписка. Именно этот документ позволит вам вернуть деньги через суд. Нет расписки — считайте, что деньги вы подарили.</p>
<b>Сергей Антонов</b>
<i>журналист</i>
<p>Расписка подтверждает, что один человек взял деньги у другого. Она поможет доказать факт передачи денег, но не заменит полностью договор займа. Иногда даже с распиской не получается вернуть деньги из-за неправильных формулировок. Для займов на крупные суммы с процентами лучше составить договор.
Мы предлагаем вам нашу помощь в составлении долговых расписок.</p>


<p> Создать записку можно <%= link_to "здесь.", "/loans/new"%> </p>
<b>Для администрирования сайта войдите.</b>
<p  ><%= form_for(:session,url:login_path) do |f| %></p>
<p >Email <%= f.text_field :email%></p>
<p ">Password <%= f.text_field :password%></p>
<p><%= f.submit "Login"%></p>
<%end%>
<b>
	Или <%=link_to "зарегестрируйтесь.", "/users/new"%>
	</b>
