<h1 align="center">Userlist</h1>
<p>Coming soon: Gravatar,</p>
<p>
	<table class="table table-condenced" border="3" width="100%" cellpadding="8" bgcolor = "white" bordercolor = "red", >
<tr>
    <th>Id</th>
    <th>Name <%=link_to "↓", users_path(sort:"lastname")%>  <%= link_to "↑", users_path(sort:"lastname DESC") %></th>
    <th>Lastname <%=link_to "↓", users_path(sort:"lastname")%>  <%= link_to "↑", users_path(sort:"lastname DESC") %></th>
    <th>Email</th>
</tr>
<% @a.each do |user|  %>
 <tr>
    <td><%= link_to user[:id], user_path(user[:id])%></td>
    <td><%= user[:name]%></td>
    <td><%= user[:lastname]%></td>
    <td><%= user[:email]%></td>
</tr>
<% end %>
	</table>
</p>
 <h2 align="center"</h2>
    <p> <%= link_to 'New User', "/users/new" %></p>
    <%=will_paginate @a%>