<%if @user.errors.any?%>
	<div align = "center" class="alert alert-warning alert-dismissible" role="alert">
		<a href ="#" class ="close" data-dismiss="alert"> &times</a>
		<ul><%= @user.errors.full_messages.each do |f|%>
<li>
	<%= p f %>
</li>
<%end%>
		 </ul></div>
		 <%end%>
<p  ><%= form_for @user do |f| %></p>
<p > Name <%= f.text_field :name%></p>
<p >Lastname <%=  f.text_field :lastname%></p>
<p >Email <%= f.text_field :email%></p>
<p ">Password <%= f.text_field :password%></p>
<p >Confirm Password <%= f.text_field :password_confirmation%></p>
<p><%= f.submit "Save"%></p>
<%end%>
<p> <%= link_to "Back to table", users_path%> </p>