<h2 align="center" </h2>
<%= form_for @user do |f| %>
<%= f.text_field :name%>
<%=  f.text_field :lastname%>
<%= f.text_field :email%>
<%= f.submit "Save"%>
<%end%>
<h1 align="center" </h1>
<p> <%= link_to "Back to table", "/users"%> </p>