<%if @user.errors.any?%>
	<div align = "center" class="alert alert-warning alert-dismissible" role="alert">
		<a href ="#" class ="close" data-dismiss="alert"> &times</a>
		<ul><%= @user.errors.full_messages.each do|f|%>
<li>
	<%= p f %>
</li>
<%end%>
		 </ul></div>
		 <%end%>
<p align="center"><%= form_for @user do |f| %></p>
<p align="center"><%= f.text_field :name%></p>
<p align="center"><%=  f.text_field :lastname%></p>
<p align="center"><%= f.text_field :email%></p>
<p align="center"><%= f.submit "Save"%></p>
<%end%>
<h1 align = "center">
<p > <%= link_to "Back to table", users_path%> </p>
</h1>