<h1 align="center">LoanList</h1>
<p>
	<table class="table table-condenced" border="2" width="100%" cellpadding="6" bgcolor = "white" bordercolor = "red">
<tr>
    <th>Giver</th>
    <th>Giver Passport Data</th>
    <th>Summ</th>
    <th>Term</th>
    <th>Interest</th>
    <th>Begining</th>
    <th>Notice</th>
    <th>Creditor</th>
    <th>Creditor Passport Data</th>
    <th>Punishment</th>
    <th>Email</th>
</tr>
<% @l.each do |loan|  %>
 <tr>
    <td><%= loan[:giver]%></td>
    <td><%= loan[:gpd]%></td>
    <td><%= loan[:sum]%></td>
    <td><%= loan[:term]%></td>
    <td><%= loan[:interest]%></td>
    <td><%= loan[:begining]%></td>
    <td><%= loan[:notice]%></td>
    <td><%= loan[:creditor]%></td>
    <td><%= loan[:cpd]%></td>
    <td><%= loan[:punishment]%></td>
    <td><%= loan[:email]%></td>
</tr>
<% end %>
	</table>
</p>
 <h2 align="center"</h2>
    <p> <%= link_to 'New Loan', "/loans/new" %></p>
    <%=will_paginate @l%>