<h1 align="center">LoanList</h1>
<p>
	<table class="table table-condenced" border="2" width="100%" cellpadding="6" bgcolor = "white" bordercolor = "red">
<tr>
    <th>Giver</th>
    <th>Summ</th>
    <th>Term</th>
    <th>Interest</th>
</tr>
<% @l.each do |loan|  %>
 <tr>
    <td><%= link_to loan.user.name, loan_path(loan[:id])%></td>
    <td><%= loan[:sum]%></td>
    <td><%= loan[:term]%></td>
    <td><%= loan[:interest]%></td>
</tr>
<% end %>
	</table>
</p>
 <h2 align="center"</h2>
    <p> <%= link_to 'New Loan', "/loans/new" %></p>
    <%=will_paginate @l%>