<h1 align="center" style="color: Black">Расписка в получении денежных средств</h1>
<p align="center">Я, <%= @f.creditor %>, род. <%=@f.BirthODG%>, зарегестрированный(я) по адресу: <%=@f.RegistredAtC%>, паспорт номер: <%=@f.SerialC%> выдан <%=@f.PassTakenTimeC%>, <%=@f.PassTakenC%> получил(а) <%=@f.begining%> от <%=@f.giver%> зарегистрированного(ой) по адресу <%=@f.RegistredAtG%>, паспорт номер: <%=@f.SerialG%> выдан <%=@f.PassTakenTimeG%>, <%=@f.PassTakenG%> <%= @f.sum %> рублей. Денежные средства получены мной в качестве займа. Деньги обязуюсь вернуть <%= @f.term%>, уплатить помимо этого в качестве процентов <%=@percent%>рублей. В случае просрочки обязуюсь в качестве штрафа помимо основной суммы и процентов выплатить <%=@f.punishment%> рублей.</p>
<p align="center">Написано собственноручно.
	<%=@f.begining%></p>

<b align="center" >На указанную вами почту была отправлена расписка, составленая  на основе введенных вами данных.</b>
<%unless current_user.nil?%><p align="center"><%= link_to "Back to table", loans_path%> </p><%end%>
