<h1 align="center" style="color: Black">Расписка в получении денежных средств</h1>
<p align="center">Я, <%= @f.giver %>, Сумма займа <%= @f.sum %>, Срок <%= @f.term %>, Процент займа <%= @f.interest %></p>
<p align="center">На указанную вами почту была отправлена расписка, составленая  на основе введенных вами данных.</p>
<%if !current_user.nil?%><p align="center"><%= link_to "Back to table", "/loans"%> </p><%end%>
